h2 {
  font-weight: 300;
  margin-bottom: 15px;
}

a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.back-link {
  margin-top: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.table>tbody>tr>th {
  font-weight: 400;
}

.conditions-warning:after {
  content: ", ";
}

.conditions-warning:last-child:after {
  content: none;
}

.label {
  margin-right: 5px;
}
