.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 20rem;
  min-width: 14rem;
  flex: 1 0 25%;
  margin: 10px;

}

.bottom {
  margin-bottom: 2rem;
}

.text-warning {
  margin-bottom: 0;
}

.label-warning:after {
  content: ", ";
}

.label-warning:last-child:after {
  content: none;
}

a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.badge {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 3px;
}
