.conditions-warning:after {
  content: ", ";
}

.conditions-warning:last-child:after {
  content: none;
}

.label {
  margin-right: 5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.list-group {
  width: 80%;
}
a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 300;
}
